<div class="limiter">
  <div class="container-login">
    <div class="container-card">
     <mat-card class="card-style flex-column">
      <mat-card-header>
        <div class="row">
          <div class="col-12 text-center">
            <img src="../../../../assets/images/logo.png" height="55" width="330"/>
          </div>
          <div class="col-12 mt-1 style-desc">
            Portal para negocios
          </div>
          <div class="col-12 mt-1 style-login">
            - LOGIN -
          </div>
        </div>
      </mat-card-header>
       <mat-card-content>
         <form>
           <div class="row mt-3">
             <div class="col-12 d-flex justify-content-center style-input">
               <mat-form-field class="d-block text-center style-field">
                 <input matInput placeholder="Ingrese usuario" >
               </mat-form-field>
             </div>

             <div class="col-12 d-flex justify-content-center style-input">
               <mat-form-field class="d-block text-center style-field">
                 <input matInput placeholder="Ingrese contraseña" >
               </mat-form-field>
             </div>
           </div>
         </form>
       </mat-card-content>
       <mat-card-actions>
         <div class="d-flex justify-content-center style-options">
           <div class="w-100 d-flex justify-content-between">
             <div class="">
               <mat-checkbox color="basic">Recordar</mat-checkbox>
             </div>
             <div class="">
               <a href="#" class="text-decoration-none style-link">Olvide mi contraseña</a>
             </div>
           </div>
         </div>
         <div class="d-flex justify-content-center mt-4 mb-2">
           <button mat-flat-button class="style-button">Ingresar</button>
         </div>
       </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
